azure-etl-data-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azure-etl-data-factory"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"AzureFileStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureFileStorage'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"MySqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MySqlDB'"
		},
		"Oracle11G_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle11G'"
		},
		"AzureBlobStorageKeyVault_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sec-myazurekeyvault"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://MY-AZURE-KEYVAULT.vault.azure.net/"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_DBName": {
			"type": "string",
			"defaultValue": "ENTDWDB"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_TableName": {
			"type": "string",
			"defaultValue": "persons"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Container": {
			"type": "string",
			"defaultValue": "azurecontainer"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Directory": {
			"type": "string",
			"defaultValue": "JSON"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Path_Trg": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_Blob_File_Trg": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"EventTrigger_properties_pipeline3_parameters_pl_v_FileShare_Directory": {
			"type": "string",
			"defaultValue": "SharedDrive"
		},
		"EventTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/bac1dfaa-72b1-4035-944a-5b4a9b4c7d2b/resourceGroups/DP900/providers/Microsoft.Storage/storageAccounts/azurestorageacct"
		},
		"trigger1_properties_pipeline_parameters_pl_v_DBName": {
			"type": "string",
			"defaultValue": "ENTDWDB"
		},
		"trigger1_properties_pipeline_parameters_pl_v_TableName": {
			"type": "string",
			"defaultValue": "PipeLineExecution"
		},
		"trigger1_properties_pipeline_parameters_pl_v_Blob_Container": {
			"type": "string",
			"defaultValue": "azurecontainer"
		},
		"trigger1_properties_pipeline_parameters_pl_v_Blob_Directory": {
			"type": "string",
			"defaultValue": "Input"
		},
		"trigger1_properties_pipeline_parameters_pl_v_Blob_File": {
			"type": "string",
			"defaultValue": "employee.json"
		},
		"trigger1_properties_pipeline_parameters_windowStartTime": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"trigger1_properties_pipeline_parameters_windowEndTime": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		},
		"trigger1_properties_pipeline_parameters_scheduledTime": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"trigger1_properties_pipeline_parameters_startTime": {
			"type": "string",
			"defaultValue": "@trigger().startTime"
		},
		"dataFactory_properties_globalParameters_Blob_Container_value": {
			"type": "string",
			"defaultValue": "azurecontainer"
		},
		"dataFactory_properties_globalParameters_Blob_Directory_value": {
			"type": "string",
			"defaultValue": "/InputDir1/InputDir2/InputDir3/"
		},
		"dataFactory_location": {
			"type": "string",
			"defaultValue": "eastus"
		},
		"dataFactory_identity_type": {
			"type": "string",
			"defaultValue": "SystemAssigned"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Delete files older than 5 days')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Please input a folder path as the parameter for this pipeline, and the pipeline will delete files which were last modified more than 30 days ago under the particular folder path.",
				"activities": [
					{
						"name": "DeleteFiles",
						"description": "Connect to your storage account to save the log file.",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Binary_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": "@pipeline().parameters.SourceFolder",
									"ds_v_Blob_Directory": "@pipeline().parameters.SourceDirectory",
									"ds_v_Blob_File": "\"\""
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@pipeline().parameters.LoggingPath",
									"type": "Expression"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@{adddays(pipeline().TriggerTime, -5)}",
									"type": "Expression"
								},
								"wildcardFileName": "*"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceFolder": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"SourceDirectory": {
						"type": "string",
						"defaultValue": "Input"
					},
					"LoggingPath": {
						"type": "string",
						"defaultValue": "azurecontainer/logs"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/Binary_File_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelin_WebActivity_GET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://dummy.restapiexample.com/api/v1/employees",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Web1').output.data",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[loadEmployee]",
										"storedProcedureParameters": {
											"employee_age": {
												"value": {
													"value": "@item().employee_age",
													"type": "Expression"
												},
												"type": "String"
											},
											"employee_name": {
												"value": {
													"value": "@item().employee_name",
													"type": "Expression"
												},
												"type": "String"
											},
											"employee_salary": {
												"value": {
													"value": "@item().employee_salary",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "String"
											},
											"profile_image": {
												"value": {
													"value": "@item().profile_image",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase1",
										"type": "LinkedServiceReference",
										"parameters": {
											"ls_v_DBName": "ENTDWDB"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelin_WebActivity_POST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://dummy.restapiexample.com/api/v1/create",
							"method": "POST",
							"headers": {},
							"body": {
								"name": "SajeerColony",
								"salary": "10000000",
								"age": "45"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Var1",
							"value": {
								"value": "@pipeline().parameters.Param1",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Var2",
							"value": {
								"value": "@variables('Var1')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Param1": {
						"type": "string",
						"defaultValue": "SalesIndia"
					}
				},
				"variables": {
					"Var1": {
						"type": "Array",
						"defaultValue": [
							"SalesUS",
							"SalesUK"
						]
					},
					"Var2": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "SetAppend"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T04:33:17Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FinalVar",
							"value": {
								"value": "@variables('Var1')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Append variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DisplayVar",
							"value": {
								"value": "@variables('FinalVar')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable2",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FinalVar",
							"value": {
								"value": "@variables('Var2')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Append variable3",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Append variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FinalVar",
							"value": {
								"value": "@variables('Var3')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Var1": {
						"type": "String",
						"defaultValue": "111"
					},
					"Var2": {
						"type": "String",
						"defaultValue": "222"
					},
					"var3": {
						"type": "String",
						"defaultValue": "333"
					},
					"FinalVar": {
						"type": "Array"
					},
					"DisplayVar": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "SetAppend"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T04:33:17Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Condition",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetVar2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('inputFile'),'employee')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "GenerateCSV",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureFileStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['product']"
													},
													"sink": {
														"ordinal": 1
													}
												},
												{
													"source": {
														"path": "$['version']"
													},
													"sink": {
														"ordinal": 2
													}
												},
												{
													"source": {
														"path": "$['releaseDate']"
													},
													"sink": {
														"ordinal": 3
													}
												},
												{
													"source": {
														"path": "$['demo']"
													},
													"sink": {
														"ordinal": 4
													}
												},
												{
													"source": {
														"path": "$['person']['id']"
													},
													"sink": {
														"ordinal": 5
													}
												},
												{
													"source": {
														"path": "$['person']['name']"
													},
													"sink": {
														"ordinal": 6
													}
												},
												{
													"source": {
														"path": "$['person']['phones']['home']"
													},
													"sink": {
														"ordinal": 7
													}
												},
												{
													"source": {
														"path": "$['person']['phones']['mobile']"
													},
													"sink": {
														"ordinal": 8
													}
												},
												{
													"source": {
														"path": "$['person']['email'][0]"
													},
													"sink": {
														"ordinal": 9
													}
												},
												{
													"source": {
														"path": "$['person']['dateOfBirth']"
													},
													"sink": {
														"ordinal": 10
													}
												},
												{
													"source": {
														"path": "$['person']['registered']"
													},
													"sink": {
														"ordinal": 11
													}
												},
												{
													"source": {
														"path": "[['name']"
													},
													"sink": {
														"ordinal": 12
													}
												},
												{
													"source": {
														"path": "[['phone']"
													},
													"sink": {
														"ordinal": 13
													}
												},
												{
													"source": {
														"path": "[['relationship']"
													},
													"sink": {
														"ordinal": 14
													}
												}
											],
											"collectionReference": "$['person']['emergencyContacts']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.pl_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.pl_v_Blob_Directory",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.pl_v_Blob_File_Trg",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "CSV_File_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_FileShare_Directory": {
													"value": "@pipeline().parameters.pl_v_FileShare_Directory",
													"type": "Expression"
												},
												"ds_v_FileShare_File": {
													"value": "@replace(pipeline().parameters.pl_v_Blob_File_Trg,'.json','csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "EmployeeLoad",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "Name"
													},
													"sink": {
														"name": "fullname",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "HomeTown"
													},
													"sink": {
														"name": "location_city",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['people']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.pl_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.pl_v_Blob_Directory",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.pl_v_Blob_File_Trg",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_DBName": {
													"value": "@pipeline().parameters.pl_v_DBName",
													"type": "Expression"
												},
												"ds_v_TableName": {
													"value": "@pipeline().parameters.pl_v_TableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "SetVar2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetVar1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "inputFile",
							"value": {
								"value": "@replace(pipeline().parameters.pl_v_Blob_File_Trg,'.json','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetVar1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "inputFolder",
							"value": {
								"value": "@pipeline().parameters.pl_v_Blob_Path_Trg",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "persons"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_Path_Trg": {
						"type": "string"
					},
					"pl_v_Blob_File_Trg": {
						"type": "string"
					},
					"pl_v_FileShare_Directory": {
						"type": "string",
						"defaultValue": "SharedDrive"
					}
				},
				"variables": {
					"inputFile": {
						"type": "String"
					},
					"inputFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SetAppend"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T04:33:18Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/CSV_File_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_JSON_to_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureFileStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['product']"
										},
										"sink": {
											"ordinal": 1
										}
									},
									{
										"source": {
											"path": "$['version']"
										},
										"sink": {
											"ordinal": 2
										}
									},
									{
										"source": {
											"path": "$['releaseDate']"
										},
										"sink": {
											"ordinal": 3
										}
									},
									{
										"source": {
											"path": "$['demo']"
										},
										"sink": {
											"ordinal": 4
										}
									},
									{
										"source": {
											"path": "$['person']['id']"
										},
										"sink": {
											"ordinal": 5
										}
									},
									{
										"source": {
											"path": "$['person']['name']"
										},
										"sink": {
											"ordinal": 6
										}
									},
									{
										"source": {
											"path": "$['person']['phones']['home']"
										},
										"sink": {
											"ordinal": 7
										}
									},
									{
										"source": {
											"path": "$['person']['phones']['mobile']"
										},
										"sink": {
											"ordinal": 8
										}
									},
									{
										"source": {
											"path": "$['person']['email'][0]"
										},
										"sink": {
											"ordinal": 9
										}
									},
									{
										"source": {
											"path": "$['person']['dateOfBirth']"
										},
										"sink": {
											"ordinal": 10
										}
									},
									{
										"source": {
											"path": "$['person']['registered']"
										},
										"sink": {
											"ordinal": 11
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"ordinal": 12
										}
									},
									{
										"source": {
											"path": "[['phone']"
										},
										"sink": {
											"ordinal": 13
										}
									},
									{
										"source": {
											"path": "[['relationship']"
										},
										"sink": {
											"ordinal": 14
										}
									}
								],
								"collectionReference": "$['person']['emergencyContacts']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_FileShare_Directory": {
										"value": "@pipeline().parameters.pl_v_FileShare_Directory",
										"type": "Expression"
									},
									"ds_v_FileShare_File": {
										"value": "@pipeline().parameters.pl_v_FileShare_File",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "product.json"
					},
					"pl_v_FileShare_Directory": {
						"type": "string",
						"defaultValue": "SharedDrive"
					},
					"pl_v_FileShare_File": {
						"type": "string",
						"defaultValue": "product.csv"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/CSV_File_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Until_Wait_GetMetaData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Do_Until",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('FileAvailable'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "getFileMetaData",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.pl_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.pl_v_Blob_Directory",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.pl_v_Blob_File",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "JsonReadSettings"
										}
									}
								},
								{
									"name": "If_Exist_File",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "getFileMetaData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(activity('getFileMetaData').output.exists)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait_2Min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 10
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SetVar",
												"description": "True",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "FileAvailable",
													"value": "True"
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Do_Until",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container_Tgt",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory_Tgt",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File_Tgt",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "employee.json"
					},
					"pl_v_Blob_Container_Tgt": {
						"type": "string",
						"defaultValue": "output"
					},
					"pl_v_Blob_Directory_Tgt": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File_Tgt": {
						"type": "string"
					}
				},
				"variables": {
					"FileAvailable": {
						"type": "String",
						"defaultValue": "false"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_alterrow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_alterrow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employee1.csv"
									},
									"sink1": {
										"ds_v_DBName": "ENTDWDB",
										"ds_v_TableName": "tbl_employees"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T02:45:36Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_alterrow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_cashed_sink')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow_cashed_sink",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_cashed_sink",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"ds_v_DBName": "ENTDWDB",
										"ds_v_TableName": "tbl_employees"
									},
									"source2": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "employees.csv"
									},
									"sink1": {},
									"sink2": {
										"ds_v_DBName": "ENTDWDB",
										"ds_v_TableName": "tbl_employees"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_cashed_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_delete_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "filesDeleted",
								"value": "These are deleted"
							}
						],
						"typeProperties": {
							"dataset": {
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								},
								"path": {
									"value": "@pipeline().parameters.pl_v_Blob_Container",
									"type": "Expression"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_df1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Employee": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employee.csv"
									},
									"Department": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Department.csv "
									},
									"SinkAgg": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Agg.csv"
									},
									"SinkSort": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Sorted.csv"
									},
									"SinkUnion": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Union.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-20T01:23:09Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_df2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Employee": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employee.csv"
									},
									"Department": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Department.csv"
									},
									"EmpDept": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Lkp.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-20T01:25:27Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_filter_foreach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ArrayValues",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item(),5)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.Value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AppendVar",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "PrintVar",
										"value": {
											"value": "@variables('AppendVar')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ArrayValues": {
						"type": "array",
						"defaultValue": [
							1,
							2,
							3,
							4,
							5,
							6,
							7,
							8,
							9,
							10
						]
					}
				},
				"variables": {
					"AppendVar": {
						"type": "Array"
					},
					"PrintVar": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_flatten')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow_flatten",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_flatten",
								"type": "DataFlowReference",
								"parameters": {
									"df_target_file": {
										"value": "'@{pipeline().parameters.pl_v_Output_Blob_File}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {
										"ds_v_Blob_Container": {
											"value": "@pipeline().parameters.pl_v_Blob_Container",
											"type": "Expression"
										},
										"ds_v_Blob_Directory": {
											"value": "@pipeline().parameters.pl_v_Input_Blob_Directory",
											"type": "Expression"
										},
										"ds_v_Blob_File": {
											"value": "@pipeline().parameters.pl_v_Input_Blob_File",
											"type": "Expression"
										}
									},
									"sink1": {
										"ds_v_Blob_Container": "@pipeline().parameters.pl_v_Blob_Container",
										"ds_v_Blob_Directory": {
											"value": "@pipeline().parameters.pl_v_Output_Blob_Directory",
											"type": "Expression"
										},
										"ds_v_Blob_File": {
											"value": "'ssss'",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Input_Blob_Directory": {
						"type": "string",
						"defaultValue": "Input"
					},
					"pl_v_Input_Blob_File": {
						"type": "string",
						"defaultValue": "Employees.json"
					},
					"pl_v_Output_Blob_Directory": {
						"type": "string",
						"defaultValue": "Output"
					},
					"pl_v_Output_Blob_File": {
						"type": "string",
						"defaultValue": "FlattenSkills.csv"
					}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T02:45:36Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_flatten')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_global_var')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().globalParameters.Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().globalParameters.Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_In_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().globalParameters.Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": "Output",
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_Out_File",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_In_File": {
						"type": "string",
						"defaultValue": "testfile1.txt"
					},
					"pl_v_Blob_Out_File": {
						"type": "string",
						"defaultValue": "testfile_Out1.txt"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/Binary_File_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_json_to_sqldb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "Name"
										},
										"sink": {
											"name": "fullname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "HomeTown"
										},
										"sink": {
											"name": "location_city",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['people']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": {
										"value": "@pipeline().parameters.pl_v_DBName",
										"type": "Expression"
									},
									"ds_v_TableName": {
										"value": "@pipeline().parameters.pl_v_TableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "persons"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "employee.json"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_json_to_sqldb_logging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "Name"
										},
										"sink": {
											"name": "fullname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "HomeTown"
										},
										"sink": {
											"name": "location_city",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['people']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": {
										"value": "@pipeline().parameters.pl_v_DBName",
										"type": "Expression"
									},
									"ds_v_TableName": {
										"value": "@pipeline().parameters.pl_v_TableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Log_PipeLineExecution]",
							"storedProcedureParameters": {
								"DataFactory": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"GroupId": {
									"value": {
										"value": "@pipeline().GroupId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"scheduledTime": {
									"value": {
										"value": "@pipeline().parameters.scheduledTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"startTime": {
									"value": {
										"value": "@pipeline().parameters.startTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggeredByPipelineName": {
									"value": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggeredByPipelineRunId": {
									"value": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"windowEndTime": {
									"value": {
										"value": "@pipeline().parameters.windowEndTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"windowStartTime": {
									"value": {
										"value": "@pipeline().parameters.windowStartTime",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference",
							"parameters": {
								"ls_v_DBName": {
									"value": "@pipeline().parameters.pl_v_DBName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string"
					},
					"pl_v_TableName": {
						"type": "string"
					},
					"pl_v_Blob_Container": {
						"type": "string"
					},
					"pl_v_Blob_Directory": {
						"type": "string"
					},
					"pl_v_Blob_File": {
						"type": "string"
					},
					"windowStartTime": {
						"type": "string"
					},
					"windowEndTime": {
						"type": "string"
					},
					"scheduledTime": {
						"type": "string"
					},
					"startTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_lkp_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_db",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": {
										"value": "@pipeline().parameters.pl_v_DBName",
										"type": "Expression"
									},
									"ds_v_TableName": {
										"value": "@pipeline().parameters.pl_v_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@activity('Lookup_db').output.firstRow.FolderName",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "documents"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "product.json"
					}
				},
				"folder": {
					"name": "LookUp"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-15T01:09:24Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_lkp_foreach_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_db",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": {
										"value": "@pipeline().parameters.pl_v_DBName",
										"type": "Expression"
									},
									"ds_v_TableName": {
										"value": "@pipeline().parameters.pl_v_TableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_db').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.pl_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.pl_v_Blob_Directory",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.pl_v_Blob_File",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.pl_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@item().FolderName",
													"type": "Expression"
												},
												"ds_v_Blob_File": "@pipeline().parameters.pl_v_Blob_File"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "documents"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "product.json"
					}
				},
				"folder": {
					"name": "LookUp"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-15T01:09:24Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_pivot')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pivot",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_pivot",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"employee": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employee1.csv"
									},
									"AggSink": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Agg.csv"
									},
									"PivotSink": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Pivot.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-21T02:22:32Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_pivot')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_powerqry')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "powerquery",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "powerquery_sample",
								"type": "DataFlowReference",
								"datasetParameters": {
									"Employee2": {},
									"Department2": {},
									"UserQueryCSVBlobDataSet": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "powerqry.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"queries": [
								{
									"queryName": "UserQuery",
									"dataflowSinks": [
										{
											"name": "UserQueryCSVBlobDataSet",
											"dataset": {
												"referenceName": "CSV_Blob_DataSet",
												"type": "DatasetReference",
												"parameters": {
													"ds_v_Blob_Container": "azurecontainer",
													"ds_v_Blob_Directory": "Output",
													"ds_v_Blob_File": "powerqry.csv"
												}
											},
											"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['powerqry.csv'],\n\ttruncate: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> UserQueryCSVBlobDataSet"
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/powerquery_sample')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_rank')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow_rank_transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_rank",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employees1.csv"
									},
									"sink1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "sss"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_rank')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_set_append_var')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.ds_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.ds_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.ds_v_Blob_File",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@pipeline().parameters.ds_v_Blob_Directory",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.ds_v_Blob_Container",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.ds_v_Blob_Directory",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.ds_v_Blob_File",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "JSON_Blob_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"ds_v_Blob_Container": {
													"value": "@pipeline().parameters.ds_v_Blob_Container_New",
													"type": "Expression"
												},
												"ds_v_Blob_Directory": {
													"value": "@pipeline().parameters.ds_v_Blob_Directory_New",
													"type": "Expression"
												},
												"ds_v_Blob_File": {
													"value": "@pipeline().parameters.ds_v_Blob_File_New",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FilesNames",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Append variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FilesNames_Copy",
										"value": {
											"value": "@variables('FilesNames')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ds_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"ds_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"ds_v_Blob_File": {
						"type": "string"
					},
					"ds_v_Blob_Container_New": {
						"type": "string",
						"defaultValue": "output"
					},
					"ds_v_Blob_Directory_New": {
						"type": "string",
						"defaultValue": "JSON"
					},
					"ds_v_Blob_File_New": {
						"type": "string"
					}
				},
				"variables": {
					"FilesNames": {
						"type": "Array"
					},
					"FilesNames_Copy": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "SetAppend"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-11T05:13:17Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_sqldb_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureFileStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "fullname",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "location_city",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": {
										"value": "@pipeline().parameters.pl_v_DBName",
										"type": "Expression"
									},
									"ds_v_TableName": {
										"value": "@pipeline().parameters.pl_v_TableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_FileShare_Directory": {
										"value": "@pipeline().parameters.pl_v_FileShare_Directory",
										"type": "Expression"
									},
									"ds_v_FileShare_File": {
										"value": "@pipeline().parameters.pl_v_FileShare_File",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "persons"
					},
					"pl_v_FileShare_Directory": {
						"type": "string",
						"defaultValue": "SharedDrive"
					},
					"pl_v_FileShare_File": {
						"type": "string",
						"defaultValue": "employee.csv"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/CSV_File_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_sqldb_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "fullname",
											"type": "String"
										},
										"sink": {
											"name": "fullname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location_city",
											"type": "String"
										},
										"sink": {
											"name": "location_city",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_DBName": "ss",
									"ds_v_TableName": "ss"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.ds_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.ds_v_Blob_File",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_DBName": {
						"type": "string",
						"defaultValue": "ENTDWDB"
					},
					"pl_v_TableName": {
						"type": "string",
						"defaultValue": "persons"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"ds_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "Parquet"
					},
					"ds_v_Blob_File": {
						"type": "string",
						"defaultValue": "persons.parquet"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_File_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_switch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.pOutPutFolder",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Output",
									"activities": [
										{
											"name": "Output",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "JsonSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "JsonReadSettings"
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobStorageWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pl_v_Blob_Directory",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pOutPutFolder",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "Output1",
									"activities": [
										{
											"name": "Output1",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "JsonSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "JsonReadSettings"
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobStorageWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pl_v_Blob_Directory",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pOutPutFolder",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								},
								{
									"value": "Output2",
									"activities": [
										{
											"name": "Output2",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "JsonSource",
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "JsonReadSettings"
													}
												},
												"sink": {
													"type": "JsonSink",
													"storeSettings": {
														"type": "AzureBlobStorageWriteSettings"
													},
													"formatSettings": {
														"type": "JsonWriteSettings"
													}
												},
												"enableStaging": false
											},
											"inputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pl_v_Blob_Directory",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											],
											"outputs": [
												{
													"referenceName": "JSON_Blob_Dataset",
													"type": "DatasetReference",
													"parameters": {
														"ds_v_Blob_Container": {
															"value": "@pipeline().parameters.pl_v_Blob_Container",
															"type": "Expression"
														},
														"ds_v_Blob_Directory": {
															"value": "@pipeline().parameters.pOutPutFolder",
															"type": "Expression"
														},
														"ds_v_Blob_File": {
															"value": "@pipeline().parameters.pl_v_Blob_File",
															"type": "Expression"
														}
													}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pOutPutFolder": {
						"type": "string",
						"defaultValue": "Output"
					},
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "Input"
					},
					"pl_v_Blob_File": {
						"type": "string",
						"defaultValue": "employee.json"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_unpivot')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Unpivot",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_unpivot",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_Pivot.csv"
									},
									"sink1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "EmpDept_UnPivot.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-21T02:22:32Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_unpivot')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_validate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Binary_File_Dataset",
								"type": "DatasetReference",
								"parameters": {
									"ds_v_Blob_Container": {
										"value": "@pipeline().parameters.pl_v_Blob_Container",
										"type": "Expression"
									},
									"ds_v_Blob_Directory": {
										"value": "@pipeline().parameters.pl_v_Blob_Directory",
										"type": "Expression"
									},
									"ds_v_Blob_File": {
										"value": "@pipeline().parameters.pl_v_Blob_File",
										"type": "Expression"
									}
								}
							},
							"timeout": "0.00:01:00",
							"sleep": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pl_v_Blob_Container": {
						"type": "string",
						"defaultValue": "azurecontainer"
					},
					"pl_v_Blob_Directory": {
						"type": "string",
						"defaultValue": "Input"
					},
					"pl_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T15:04:47Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/Binary_File_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_window')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow_window",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_window",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Input",
										"ds_v_Blob_File": "Employee1.csv"
									},
									"sink1": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": "Employee_Window.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-29T02:45:36Z"
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow_window')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_v_DBName": {
							"value": "@dataset().ds_v_DBName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ds_v_DBName": {
						"type": "string"
					},
					"ds_v_TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().ds_v_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_File_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_Blob_Container": {
						"type": "string"
					},
					"ds_v_Blob_Directory": {
						"type": "string"
					},
					"ds_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ds_v_Blob_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_v_Blob_Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ds_v_Blob_Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Blob_DataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_Blob_Container": {
						"type": "string"
					},
					"ds_v_Blob_Directory": {
						"type": "string"
					},
					"ds_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ds_v_Blob_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_v_Blob_Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ds_v_Blob_Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_File_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureFileStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_FileShare_Directory": {
						"type": "string"
					},
					"ds_v_FileShare_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureFileStorageLocation",
						"fileName": {
							"value": "@dataset().ds_v_FileShare_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_v_FileShare_Directory",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFileStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Department2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PowerQuery"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Department2.csv",
						"folderPath": "Input",
						"container": "azurecontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DepartmentID",
						"type": "String"
					},
					{
						"name": "DepartmentName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employee2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PowerQuery"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Employee2.csv",
						"folderPath": "Input",
						"container": "azurecontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "DepartmentID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JSON_Blob_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_Blob_Container": {
						"type": "string"
					},
					"ds_v_Blob_Directory": {
						"type": "string"
					},
					"ds_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ds_v_Blob_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_v_Blob_Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ds_v_Blob_Container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySqlDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ls_v_DBName": {
							"value": "@dataset().ds_v_DBName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ds_v_DBName": {
						"type": "string"
					},
					"ds_v_TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DB"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().ds_v_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/MySqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle11G",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DB"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": {
						"value": "@dataset().ds_v_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/Oracle11G')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_File_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_v_Blob_Container": {
						"type": "string"
					},
					"ds_v_Blob_Directory": {
						"type": "string"
					},
					"ds_v_Blob_File": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Others"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ds_v_Blob_File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_v_Blob_Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ds_v_Blob_Container",
							"type": "Expression"
						}
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureBlobStorageKeyVault_properties_typeProperties_connectionString_secretName')]",
						"secretVersion": "ac14171fea194955a3990550272e6f50"
					}
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFileStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureFileStorage_connectionString')]",
					"fileShare": "azurefileshare"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ls_v_DBName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ls_v_DBName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('MySqlDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle11G')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect Oracle 11G Database",
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle11G_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline3",
							"type": "PipelineReference"
						},
						"parameters": {
							"pl_v_DBName": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_DBName')]",
							"pl_v_TableName": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_TableName')]",
							"pl_v_Blob_Container": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Container')]",
							"pl_v_Blob_Directory": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Directory')]",
							"pl_v_Blob_Path_Trg": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_Blob_Path_Trg')]",
							"pl_v_Blob_File_Trg": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_Blob_File_Trg')]",
							"pl_v_FileShare_Directory": "[parameters('EventTrigger_properties_pipeline3_parameters_pl_v_FileShare_Directory')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/azurecontainer/blobs/JSON/",
					"blobPathEndsWith": ".json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('EventTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "For Connecting Local DB",
				"typeProperties": {}
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "Employee"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "Department"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "SinkAgg"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "SinkSort"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "SinkUnion"
						}
					],
					"transformations": [
						{
							"name": "joinEmpDept"
						},
						{
							"name": "ModifyEmail",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "ModifyDeptName",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "AggDept"
						},
						{
							"name": "filterDeptIT2"
						},
						{
							"name": "SortColumns"
						},
						{
							"name": "AddSurrogateKey"
						},
						{
							"name": "RemoveColumns",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "ModifyHireDate"
						},
						{
							"name": "filterDeptIT1"
						},
						{
							"name": "filterDeptFinance"
						},
						{
							"name": "MergeDeptITFinance"
						},
						{
							"name": "RemoveDupDept1",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "RemoveDupDept2",
							"description": "Autogenerated by data preview actions"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPLOYEE_ID as short,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          EMAIL as string,",
						"          PHONE_NUMBER as string,",
						"          HIRE_DATE as date 'MM/dd/yyyy',",
						"          JOB_ID as string,",
						"          SALARY as short,",
						"          COMMISSION_PCT as string,",
						"          MANAGER_ID1 as short,",
						"          DEPARTMENT_ID as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Employee",
						"source(output(",
						"          DEPARTMENT_ID as short,",
						"          DEPARTMENT_NAME as string,",
						"          MANAGER_ID2 as short,",
						"          LOCATION_ID as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Department",
						"ModifyEmail, ModifyDeptName join(Employee@DEPARTMENT_ID == Department@DEPARTMENT_ID,",
						"     joinType:'inner',",
						"     broadcast: 'auto')~> joinEmpDept",
						"Employee derive(EMAIL = lower(EMAIL)) ~> ModifyEmail",
						"Department derive(DEPARTMENT_NAME = upper(DEPARTMENT_NAME)) ~> ModifyDeptName",
						"joinEmpDept aggregate(groupBy(DEPARTMENT_NAME),",
						"     COUNT = count(EMPLOYEE_ID)) ~> AggDept",
						"AggDept filter(equals(DEPARTMENT_NAME,\"IT\")) ~> filterDeptIT2",
						"joinEmpDept sort(asc(EMPLOYEE_ID, true),",
						"     partitionBy('hash', 1)) ~> SortColumns",
						"ModifyHireDate keyGenerate(output(SurrogateKey as long),",
						"     startAt: 1000L,",
						"     stepValue: 1L) ~> AddSurrogateKey",
						"SortColumns select(mapColumn(",
						"          EMPLOYEE_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          EMAIL,",
						"          PHONE_NUMBER,",
						"          HIRE_DATE,",
						"          DEPARTMENT_ID = Employee@DEPARTMENT_ID,",
						"          DEPARTMENT_NAME",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> RemoveColumns",
						"RemoveColumns derive(HIRE_DATE_MOD = toString(HIRE_DATE,'YYYY/MM/DD')) ~> ModifyHireDate",
						"joinEmpDept filter(equals(DEPARTMENT_NAME,\"IT\")) ~> filterDeptIT1",
						"joinEmpDept filter(equals(DEPARTMENT_NAME,\"FINANCE\")) ~> filterDeptFinance",
						"RemoveDupDept1, RemoveDupDept2 union(byName: true)~> MergeDeptITFinance",
						"filterDeptIT1 select(mapColumn(",
						"          EMPLOYEE_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          EMAIL,",
						"          PHONE_NUMBER,",
						"          HIRE_DATE,",
						"          JOB_ID,",
						"          SALARY,",
						"          COMMISSION_PCT,",
						"          MANAGER_ID1,",
						"          DEPARTMENT_ID = Employee@DEPARTMENT_ID,",
						"          DEPARTMENT_ID = Department@DEPARTMENT_ID,",
						"          DEPARTMENT_NAME,",
						"          MANAGER_ID2,",
						"          LOCATION_ID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveDupDept1",
						"filterDeptFinance select(mapColumn(",
						"          EMPLOYEE_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          EMAIL,",
						"          PHONE_NUMBER,",
						"          HIRE_DATE,",
						"          JOB_ID,",
						"          SALARY,",
						"          COMMISSION_PCT,",
						"          MANAGER_ID1,",
						"          DEPARTMENT_ID = Employee@DEPARTMENT_ID,",
						"          DEPARTMENT_ID = Department@DEPARTMENT_ID,",
						"          DEPARTMENT_NAME,",
						"          MANAGER_ID2,",
						"          LOCATION_ID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveDupDept2",
						"filterDeptIT2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Agg.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SinkAgg",
						"AddSurrogateKey sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Sorted.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SinkSort",
						"MergeDeptITFinance sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Union.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SinkUnion"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "Employee"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "Department"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "EmpDept"
						}
					],
					"transformations": [
						{
							"name": "lookupDept"
						},
						{
							"name": "DropCol1"
						},
						{
							"name": "DropCol2"
						},
						{
							"name": "RemoveColumns1",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPLOYEE_ID as short,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          EMAIL as string,",
						"          PHONE_NUMBER as string,",
						"          HIRE_DATE as date,",
						"          JOB_ID as string,",
						"          SALARY as short,",
						"          COMMISSION_PCT as string,",
						"          MANAGER_ID1 as short,",
						"          DEPARTMENT_ID as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Employee",
						"source(output(",
						"          DEPARTMENT_ID as short,",
						"          DEPARTMENT_NAME as string,",
						"          MANAGER_ID2 as short,",
						"          LOCATION_ID as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Department",
						"DropCol1, DropCol2 lookup(DropCol1@DEPARTMENT_ID == DropCol2@DEPARTMENT_ID,",
						"     multiple: true,",
						"     broadcast: 'auto')~> lookupDept",
						"Employee select(mapColumn(",
						"          EMPLOYEE_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          EMAIL,",
						"          PHONE_NUMBER,",
						"          DEPARTMENT_ID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropCol1",
						"Department select(mapColumn(",
						"          DEPARTMENT_ID,",
						"          DEPARTMENT_NAME",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropCol2",
						"lookupDept select(mapColumn(",
						"          EMPLOYEE_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          EMAIL,",
						"          PHONE_NUMBER,",
						"          DEPARTMENT_ID = DropCol1@DEPARTMENT_ID,",
						"          DEPARTMENT_NAME",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveColumns1",
						"RemoveColumns1 derive(FULLNAME = concat(FIRST_NAME,' ',LAST_NAME)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Lkp.csv'],",
						"     partitionBy('hash', 1)) ~> EmpDept"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_alterrow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as integer,",
						"          Name as string,",
						"          Gender as string,",
						"          Salary as integer,",
						"          Department as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 alterRow(deleteIf(Department=='Payroll'),",
						"     updateIf(Department=='HR')) ~> alterRow1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:true,",
						"     insertable:true,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['EmpID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          EmpID = ID,",
						"          EmpName = Name,",
						"          Gender,",
						"          Salary,",
						"          Department",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_cashed_sink')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "surrogateKey1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          maxempid as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select ISNULL(max(empid),0) maxempid from ENTDWDB.[dbo].[tbl_employees]\\n',",
						"     format: 'query') ~> source1",
						"source(output(",
						"          empname as string,",
						"          gender as string,",
						"          country as string,",
						"          salary as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source2 keyGenerate(output(empid as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"surrogateKey1 derive(empid = sink1#outputs()[1].maxempid + empid) ~> derivedColumn1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: false,",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          maxempid",
						"     )) ~> sink1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_flatten')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "JSON_Blob_Dataset",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     df_target_file as string",
						"}",
						"source(output(",
						"          people as (Address as (country as string, state as string, zipcode as integer), Contact as (Phone as integer, email as string), Name as string, Skills as string[], id as short)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'singleDocument') ~> source1",
						"source1 foldDown(unroll(people.Skills),",
						"     mapColumn(",
						"          ID = people.id,",
						"          Name = people.Name,",
						"          Skills = people.Skills",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:[($df_target_file)],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/JSON_Blob_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_pivot')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "employee"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "AggSink"
						},
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "PivotSink"
						}
					],
					"transformations": [
						{
							"name": "aggregate"
						},
						{
							"name": "pivot"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EMPLOYEE_ID as short,",
						"          EMPLOYEENAME as string,",
						"          GENDER as string,",
						"          COUNTRY as string,",
						"          DEPARTMENT as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> employee",
						"employee aggregate(groupBy(DEPARTMENT,",
						"          GENDER),",
						"     COUNT = count(EMPLOYEE_ID)) ~> aggregate",
						"employee pivot(groupBy(DEPARTMENT),",
						"     pivotBy(GENDER),",
						"     {} = count(EMPLOYEE_ID),",
						"     columnNaming: '$N$V',",
						"     lateral: true) ~> pivot",
						"aggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Agg.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> AggSink",
						"pivot sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_Pivot.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> PivotSink"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_rank')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "rank1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as short,",
						"          Name as string,",
						"          Gender as string,",
						"          Salary as short,",
						"          Department as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 rank(desc(Salary, true),",
						"     output(Rank as long),",
						"     dense: true) ~> rank1",
						"rank1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmployeeRanked.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_unpivot')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "unpivot1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DEPARTMENT as short,",
						"          FeMale as short,",
						"          Male as short,",
						"          TransGender as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 unpivot(output(",
						"          Gender as string,",
						"          Count as short",
						"     ),",
						"     ungroupBy(DEPARTMENT),",
						"     lateral: true,",
						"     ignoreNullPivots: false) ~> unpivot1",
						"unpivot1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmpDept_UnPivot.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_window')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CSV_Blob_DataSet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "window1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as short,",
						"          Name as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as short,",
						"          Department as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 window(over(Department),",
						"     asc(Salary, true),",
						"     AVG = avg(Salary),",
						"          DENSE_RANK = denseRank(),",
						"          LEAD = lead(Salary, 1, 0),",
						"          LAG = lag(Salary, 1, 0),",
						"          NTILE = nTile(4)) ~> window1",
						"window1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Employee_Window.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/CSV_Blob_DataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery_sample')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "Employee2",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Employee2",
							"dataset": {
								"referenceName": "Employee2",
								"type": "DatasetReference"
							}
						},
						{
							"name": "Department2",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Department2",
							"dataset": {
								"referenceName": "Department2",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared Employee2 = let AdfDoc = AzureStorage.BlobContents(\"https://azurestorageacct.blob.core.windows.net/azurecontainer/Input/Employee2.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared Department2 = let AdfDoc = AzureStorage.BlobContents(\"https://azurestorageacct.blob.core.windows.net/azurecontainer/Input/Department2.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"Employee2\",\r\n  #\"Grouped rows\" = Table.Group(Source, {\"DepartmentID\"}, {{\"Count\", each Table.RowCount(_), Int64.Type}}),\r\n  #\"Merged queries\" = Table.NestedJoin(#\"Grouped rows\", {\"DepartmentID\"}, Department2, {\"DepartmentID\"}, \"Department2\", JoinKind.Inner),\r\n  #\"Expanded Department2\" = Table.ExpandTableColumn(#\"Merged queries\", \"Department2\", {\"DepartmentID\", \"DepartmentName\"}, {\"Department2.DepartmentID\", \"Department2.DepartmentName\"}),\r\n  #\"Removed columns\" = Table.RemoveColumns(#\"Expanded Department2\", {\"Department2.DepartmentID\"}),\r\n  #\"Renamed columns\" = Table.RenameColumns(#\"Removed columns\", {{\"Department2.DepartmentName\", \"DepartmentName\"}}),\r\n  #\"Reordered columns\" = Table.ReorderColumns(#\"Renamed columns\", {\"DepartmentID\", \"DepartmentName\", \"Count\"}) in #\"Reordered columns\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/datasets/Employee2')]",
				"[concat(variables('factoryId'), '/datasets/Department2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipeline_json_to_sqldb_logging",
						"type": "PipelineReference"
					},
					"parameters": {
						"pl_v_DBName": "[parameters('trigger1_properties_pipeline_parameters_pl_v_DBName')]",
						"pl_v_TableName": "[parameters('trigger1_properties_pipeline_parameters_pl_v_TableName')]",
						"pl_v_Blob_Container": "[parameters('trigger1_properties_pipeline_parameters_pl_v_Blob_Container')]",
						"pl_v_Blob_Directory": "[parameters('trigger1_properties_pipeline_parameters_pl_v_Blob_Directory')]",
						"pl_v_Blob_File": "[parameters('trigger1_properties_pipeline_parameters_pl_v_Blob_File')]",
						"windowStartTime": "[parameters('trigger1_properties_pipeline_parameters_windowStartTime')]",
						"windowEndTime": "[parameters('trigger1_properties_pipeline_parameters_windowEndTime')]",
						"scheduledTime": "[parameters('trigger1_properties_pipeline_parameters_scheduledTime')]",
						"startTime": "[parameters('trigger1_properties_pipeline_parameters_startTime')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 5,
					"startTime": "2022-04-06T01:15:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[variables('factoryId')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline_json_to_sqldb_logging')]"
			]
		},
		{
			"name": "[parameters('factoryName')]",
			"type": "Microsoft.DataFactory/factories",
			"apiVersion": "2018-06-01",
			"properties": {
				"globalParameters": {
					"Blob_Container": {
						"type": "string",
						"value": "[parameters('dataFactory_properties_globalParameters_Blob_Container_value')]"
					},
					"Blob_Directory": {
						"type": "string",
						"value": "[parameters('dataFactory_properties_globalParameters_Blob_Directory_value')]"
					}
				}
			},
			"dependsOn": [],
			"location": "[parameters('dataFactory_location')]",
			"identity": {
				"type": "[parameters('dataFactory_identity_type')]"
			}
		}
	]
}